* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    direction: rtl;

    font-family:
        "B Nazanin",
        "B Yekan",
        Tahoma,
        Arial,
        sans-serif;

    background: #f4f6f8;
    color: #222;
}

.app {
    width: 100%;
    max-width: 520px;
    min-height: 100vh;

    margin: 0 auto;

    background: #ffffff;
}

.header {
    padding: 28px 20px 22px;

    text-align: center;

    background: #263238;
    color: white;